body {
    margin: 0 auto;
    background-color: whitesmoke;
    background-image:url(./img/Ultra\ wide\ -\ 2.38.JPG);
    background-size:cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif'
    
}


a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}

a:hover {
    font-size: 1.4rem;
    transition: 0.2s;
    color: rgb(105, 125, 203);
}

.header {
    background: rgba(58, 117, 211, 0.5);
    position: fixed;
    width: 100%;
    height: 100px;
    transition: 0.4s;
    display: inline;
    line-height: 50px;
}

.header.shrink {
    height: 50px;
    line-height: 10px;
    background-color: rgba(16, 86, 199)
}

nav ul li {
    display: inline-block;
    padding: 4px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
}

li {
    padding: 20px;
}
