<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" 
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" 
    crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <nav class="navbar navbar-expand-lg">
                <div class="">
                    <img src="./img/menu.png">
                </div>
                <div class="">
                    <!-- <img src="./img/user.png"> -->
                </div>
            </nav>
        </div>
        <div class="article">
            <div class="about" id="about">
                <h1>About</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam, ducimus, dolores cumque itaque enim voluptatibus, 
                atque eos temporibus nulla officiis vero! Mollitia qui, odio quae nisi esse ipsam quibusdam nesciunt.</p>
            </div>
            <div class="services" id="services">
                <h1>Services</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam, ducimus, dolores cumque itaque enim voluptatibus, 
                atque eos temporibus nulla officiis vero! Mollitia qui, odio quae nisi esse ipsam quibusdam nesciunt.</p>
            </div>
            <div class="clients" id="clients">
                <h1>Clients</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam, ducimus, dolores cumque itaque enim voluptatibus, 
                atque eos temporibus nulla officiis vero! Mollitia qui, odio quae nisi esse ipsam quibusdam nesciunt.</p>
            </div>
            <div class="contacts" id="contacts">
                <h1>Contacts</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam, ducimus, dolores cumque itaque enim voluptatibus, 
                atque eos temporibus nulla officiis vero! Mollitia qui, odio quae nisi esse ipsam quibusdam nesciunt.</p>
            </div>
        </div>
            <div class="sidenav">
                <div class="d-flex flex-column w-100">
                    <a href="#about" class="nl-sidenav-item" onclick="showHide('about')">About</a>
                    <a href="#services" class="nl-sidenav-item" onclick="showHide('services')">Services</a>
                    <a href="#clients" class="nl-sidenav-item" onclick="showHide('clients')">Clients</a>
                    <a href="#contacts" class="nl-sidenav-item" onclick="showHide('contacts')">Contact</a>
                </div>
          </div>
    </div>

    <script src="./app.js"></script>
</body>
</html>