<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" 
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" 
    crossorigin="anonymous">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <nav class="navbar navbar-expand-lg">
                <div class="">
                    <img src="./img/menu.png">
                </div>
                <div class="">
                    <!-- <img src="./img/user.png"> -->
                </div>
            </nav>
        </div>
        <div class="article">
            <div class="about">
                <h1>about</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam, ducimus, dolores cumque itaque enim voluptatibus, 
                atque eos temporibus nulla officiis vero! Mollitia qui, odio quae nisi esse ipsam quibusdam nesciunt.</p>
            </div>
            <div class="services">
                <h1>services</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam, ducimus, dolores cumque itaque enim voluptatibus, 
                atque eos temporibus nulla officiis vero! Mollitia qui, odio quae nisi esse ipsam quibusdam nesciunt.</p>
            </div>
            <div class="clients">
                <h1>clients</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam, ducimus, dolores cumque itaque enim voluptatibus, 
                atque eos temporibus nulla officiis vero! Mollitia qui, odio quae nisi esse ipsam quibusdam nesciunt.</p>
            </div>
            <div class="contacts">
                <h1>contacts</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam, ducimus, dolores cumque itaque enim voluptatibus, 
                atque eos temporibus nulla officiis vero! Mollitia qui, odio quae nisi esse ipsam quibusdam nesciunt.</p>
            </div>
        </div>
            <div class="sidenav">
                <a href="#about">About</a>
                <a href="#services">Services</a>
                <a href="#clients">Clients</a>
                <a href="#contacts">Contact</a>
          </div>
    </div>

    <script src="./app.js"></script>
</body>
</html>