body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Questrial', sans-serif;
    font-family: 'Roboto', sans-serif;
}

a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}

a:hover {
    font-size: 1.4rem;
    transition: 0.2s;
    color: rgb(105, 125, 203);
}

.header {
    background: #021750;
    position: fixed;
    width: 100%;
    height: 70px;
    transition: 0.4s;
    display: inline;
    line-height: 30px;
}

.header.shrink {
    height: 50px;
    line-height: 10px;
}

nav ul li {
    display: inline-block;
    padding: 4px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
}

li {
    padding: 20px;
}

.wrapper {
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: auto;
}

.container {
    max-width: 80%;
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: auto;
}

.text-container {
    width: 40%;
    height: 600px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.contact-us {
    width: 100%;
    height: 130px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.heading {
    align-self: flex-start;
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    color: #1544c3;
    margin: 7px 0px;
}

.paragraph {
    font-size: 2rem;
    padding-bottom: 100px;
    margin: 0px 0px 0px 0px;
}

.info {
    display: flex;
    width: 100%;
    height: 400px;
}

.form-container {
    width: 60%;
    height: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    line-height: 5rem;
}

input {
    font-size: 1.1rem;
    height: 50px;
    width: 330px;
    margin: 13px;
    border-radius: 5px;
    padding-left: 10px;
    background-color: rgb(232, 225, 225);
    border: none;
}

input:hover {
    box-shadow: 2px 2px 6px 2px rgb(204, 188, 188);
    transition:0.2s;
}

#phone {
    font-size: 1.1rem;
    width: 705px;
    height: 50px;
    border: none;
}

#textarea {
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(232, 225, 225);
}

#textarea:hover {
    box-shadow: 2px 2px 6px 2px rgb(204, 188, 188);
    transition:0.2s;
}

#submit-btn {
    width: 300px;
    height: 50px;
    background-color: rgb(219, 226, 238);
    border: none;
    font-size: 1.1rem;
    display: block;
    margin-left: 10px;
    border-radius: 5px;
}

#submit-btn:hover {
    background-color: #021750;
    color: white;
    transition: 0.3s;
}

.info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

.phone {
    width: 120px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map {
    width: 120px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mail {
    width: 120px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-container {
    height: 400px;
    width: 130px;
}

.info-text-container {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.phone-text {
    width: 400px;
    height: 140px;
    display: inline-block;
    line-height: 10px;
}

.map-text {
    width: 400px;
    height: 140px;
    display: inline-block;
    align-items: center;
}

.mail-text {
    width: 400px;
    height: 130px;
    display: inline-block;
    align-items: center;
}

#icon {
    font-size: 3.5rem;
    color: rgb(115, 143, 181);
}

.paragraph-bolder {
    font-size: larger;
    font-weight: bolder;
}

.paragraph-faded {
    color: grey;
    font-weight: bolder;
}

.footer {
    max-width: 100%;
    height: 70vh;
    background-color: #021750;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer-picture {
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-footer {
    width: 250px;
}

.content-container {
    max-width: 100%;
    height: 40vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footerContact {
    width: 1000px;
    height: 25vh;
    color: rgb(237, 232, 232);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    line-height: 30px;
}

.footerAbout {
    width: 1000px;
    height: 25vh;
    color: rgb(237, 232, 232);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.about-us {
    width: 400px;
    text-align: center;
}

.icons {
    padding-top: 20px;
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
}

.company {
    width: 1000px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    color: rgb(237, 232, 232);
}