body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Questrial', sans-serif;
    font-family: 'Roboto', sans-serif;
}

a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}

a:hover {
    font-size: 1.4rem;
    transition: 0.2s;
    color: rgb(105, 125, 203);
}

.header {
    background: #021750;
    position: fixed;
    width: 100%;
    height: 70px;
    transition: 0.4s;
    display: inline;
    line-height: 30px;
}

.header.shrink {
    height: 50px;
    line-height: 10px;
    background-color: #021750;
}

nav ul li {
    display: inline-block;
    padding: 4px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
}

li {
    padding: 20px;
}

.wrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-image: url(../img/sky-clouds-4k-5k-2560x1440.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.5);
}

.container {
    width: 70%;
    background-color: white;
    height: auto;
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    flex-direction: column;
}

.div-one {
    max-width: 100%;
    height: 400px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}

.text {
    width: 900px;
    word-wrap: break-word;
    line-height: 2rem;
    font-size: 2rem;
    text-align: center;

}


/* 
#mac {
    width:500px;
    
} */

#power-saving {
    width: 300px;
}

.div-two {
    max-width: 100%;
    height: 400px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}

/* #ipad{
    width:350px;
} */

.div-three {
    max-width: 100%;
    height: 400px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}

.div-four {
    max-width: 100%;
    height: 400px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}

.div-five {
    max-width: 100%;
    height: 400px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}

.div-six {
    max-width: 100%;
    height: 400px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}