body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Questrial', sans-serif;
    font-family: 'Roboto', sans-serif;
}

a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}

a:hover {
    font-size: 1.4rem;
    transition: 0.2s;
    color: rgb(105, 125, 203);
}

.header {
    background: #021750;
    position: fixed;
    width: 100%;
    height: 70px;
    transition: 0.4s;
    display: inline;
    line-height: 30px;
}

.header.shrink {
    height: 50px;
    line-height: 10px;
}

nav ul li {
    display: inline-block;
    padding: 4px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
}

li {
    padding: 20px;
}

.wrapper {
    width: 100%;
    height:80vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    background-image: url("../img/Ultra\ wide\ -\ 2.38.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.3);
}

.container {
    width: 100%;
    height: 700px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content {
    width: 70%;
    height: 700px;
    display: inline;
    justify-content: center;
    flex-direction: column;
    margin: 40px;
}

.contentTwo {
    width: 20%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bulb {
    max-height: 400px;
}

.typed-out {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2s forwards;
    font-size: 4rem;
    width: 0;
    color: white;
    padding-left: 0px;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 90%;
    }
}

.div1{
    width:100%;
    height:auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
    text-align: center;
    justify-content: space-evenly;
    margin-top:20px;
}

.textWrap { 
    width:30%;
    height:auto;
    align-self:center;
    margin-bottom: 60px;
    padding:20px;
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
} 

.div2 {
    margin-top: 30px;
    width:100%;
    height:auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.5rem;
    text-align: center;
}

.second-textWrap {
    width:30%;
    height:auto;
    align-self:center;
    margin-bottom: 60px;
    padding:20px;
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

.div3 {
    margin-top:30px;
    width:100%;
    height:300px;
}

.div4 {
    margin-top:30px;
    width:100%;
    height:300px;
}

#mac {
    width:500px;
    height:400px;
}

#ipad{
    width:350px;
}

.footer {
    max-width:100%;
    height:70vh;
    background-color:#021750;
    margin-top:30px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    justify-content: space-evenly; 
}

.footer-picture {
    width:100%;
    height:25vh;
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
}

#logo-footer {
    width:250px;
}

.content-container {
    max-width:100%;
    height:40vh;
    display:flex;
    justify-content:flex-start;
    align-items:center;
}

.footerContact {
    width:1000px;
    height:25vh;
    color:rgb(237, 232, 232);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight:bolder;
    line-height:30px;
}

.footerAbout { 
    width:1000px;
    height:25vh;
    color:rgb(237, 232, 232);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.about-us {
    width:400px;
    text-align: center;
}

.icons{
    padding-top:20px;
    width:200px;
    height:30px;
    display:flex;
    justify-content: space-evenly;
}

.company {
    width:1000px;
    display:flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    color:rgb(237, 232, 232);
}

.header-one {
    justify-self: start;
}