body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Questrial', sans-serif;
    font-family: 'Roboto', sans-serif;
}

a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}

a:hover {
    font-size: 1.4rem;
    transition: 0.2s;
    color: rgb(105, 125, 203);
}

.header {
    background: #021750;
    position: fixed;
    width: 100%;
    height: 100px;
    transition: 0.4s;
    display: inline;
    line-height: 50px;
}

.header.shrink {
    height: 50px;
    line-height: 10px;
    background-color: rgba(16, 86, 199);
}

nav ul li {
    display: inline-block;
    padding: 4px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
}

li {
    padding: 20px;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    background-image: url("../img/ultrawide.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.5);
}

.container {
    width: 100%;
    height: 700px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content {
    width: 70%;
    height: 700px;
    display: inline;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    margin: 40px;
}

.contentTwo {
    width: 20%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bulb {
    height: 400px;
}

.typed-out {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2s forwards;
    font-size: 4rem;
    width: 0;
    color: white;
    padding-left: 70px;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 90%;
    }
}