.container {
    height: calc(100% - 100px);
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 50px;
}

header {
	position: fixed;
    top:0%;
    width:100%;
    display:flex;
    padding: 10px 20px 10px 20px;
    height: 50px;
    background-color:whitesmoke;
}

header a:link, a:visited, a:active {
    color: #2a2a2a;
    font-family: arial, sans-serif;
    font-size:17px;
    text-decoration:none;
	margin-right:5px;
	margin-left:5px;
}

#search-bar{
    border-radius:30px;
    height:60px;
    border: solid 2px rgb(227, 218, 218);
    margin-left:auto;
    margin-right:auto;
}

#search-bar:hover{
    border-color: rgb(150, 145, 145);
}

.buttons{
    height:60px;
    display:flex;
    flex-direction: row;
    justify-content:center;
    padding:10px;
    margin:auto;
}

#btn-one, #btn-two{
    border-radius:5px;
    margin:5px;
    height:40px;
    border: none;
    width:160px;
}

#btn-one:hover, #btn-two:hover{
    background-color:rgb(116, 158, 225);
}


.fa-envelope{
    color:rgb(30, 102, 180);
}

.fa-gift{
    color:rgb(191, 57, 80);
}

.fa-gamepad{
    color:rgb(41, 99, 41);
}
.fa-heart{
    color:red;
}

.fa-cloud{
    color:grey;
}

.fa-youtube{
    color:rgb(126, 21, 21);
}

.fa-facebook{
    color:rgb(60, 93, 185);
}

footer {
	position: fixed;
	bottom:0px;
	left:0px;
	right:0px;
	background:#f3f3f3;
	padding: 10px 20px 10px 20px;
    height: 50px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:150px;
}

.user{
    width:30px;
    margin-left: 5px;
    margin-top:0px;
}

.nl-search {
    width:700px;
    position: relative;
}
.nl-search-icon {
    position: absolute;
    top: 21px;
    left: 20px;
}

.user-img{
    width:30px;
}

