.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    margin-top:150px;
    margin-left:auto;
    margin-right:auto;
}

#search-bar{
    border-radius:30px;
    width:700px;
    height:60px;
    border: solid 2px rgb(227, 218, 218);
    padding:20px;
    margin:30px;
    margin-left:auto;
    margin-right:auto;
}

#search-bar:hover{
    border-color: rgb(150, 145, 145);
}

img{
    padding-left:170px;
}

.buttons{
    height:60px;
    display:flex;
    flex-direction: row;
    justify-content:center;
    padding:10px;
    margin:auto;
}

#btn-one, #btn-two{
    border-radius:5px;
    margin:5px;
    height:40px;
    border: none;
    width:160px;
}

#btn-one:hover, #btn-two:hover{
    background-color:rgb(116, 158, 225);
}

.fa{
    padding: 30px;
    margin-left:auto;
    margin-right:auto;
}

.fa:hover{
    background-color:rgb(217, 205, 205);
    border-radius:20px;
}

.fa-envelope{
    color:rgb(30, 102, 180);
}

.fa-gift{
    color:rgb(191, 57, 80);
}

.fa-gamepad{
    color:rgb(41, 99, 41);
}
.fa-heart{
    color:red;
}

.fa-cloud{
    color:grey;
}

.fa-youtube{
    color:rgb(126, 21, 21);
}

.fa-facebook{
    color:rgb(60, 93, 185);
}

footer {
	position: fixed;
	bottom:0px;
	left:0px;
	right:0px;
	background:#f3f3f3;
	padding-top:22px;
	border-top: 1px solid #e9e9e9;
}

.leftlinks {
	position: relative;
	bottom:12px;
	left:18px;
	padding-right:15px;
	padding-left:15px;
}

.rightlinks {
	position: relative;
	bottom:9px;
	float:right;
	right:18px;
	padding-right:15px;
	padding-left:15px;
}

header {
	position: fixed;
	top:12px;
	right:30px;
}

header a:link, a:visited, a:active {
    color: #2a2a2a;
    font-family: arial, sans-serif;
    font-size:15px;
    text-decoration:none;
	margin-right:5px;
	margin-left:5px;
	top:-10px;
}

header a:hover {
	text-decoration:underline;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; 
    bottom: 60px;
    right: 30px; 
    z-index: 99;  
    border: none; 
    background-color: rgb(75, 140, 232); 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px;
}
  
#myBtn:hover {
    background-color: rgb(38, 68, 138); 
}