.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    margin-top:150px;
    margin-left:auto;
    margin-right:auto;
}

#search-bar{
    border-radius:30px;
    width:700px;
    height:60px;
    border: solid 2px rgb(227, 218, 218);
    padding:20px;
    margin:30px;
    margin-left:auto;
    margin-right:auto;
}

#search-bar:hover{
    border-color: rgb(150, 145, 145);
}

img{
    padding-left:170px;
}

.fa{
    padding: 30px;
    margin-left:auto;
    margin-right:auto;
}

.fa:hover{
    background-color:rgb(217, 205, 205);
    border-radius:20px;
    
    
}

.fa-envelope{
    color:rgb(30, 102, 180);
}

.fa-gift{
    color:rgb(191, 57, 80);
}

.fa-gamepad{
    color:rgb(41, 99, 41);
}
.fa-heart{
    color:red;
}

.fa-cloud{
    color:grey;
}

.fa-youtube{
    color:rgb(126, 21, 21);
}

.fa-facebook{
    color:rgb(60, 93, 185);
}

