#cookiePopup {
    background-color: #ffffff;
    position: fixed;
    bottom: 30px;
    right: 30px;
    max-width: 1000px;
    height:200px;
    box-shadow: 0 0 20px rgba(5, 0, 31, 0.15);
    text-align: center;
    line-height: 1.8em;
    padding: 20px;
    border-radius: 8px;
    transition: all 1s ease-in;
    margin-right:320px;
    font-size:20px;
 }
 
 #cookiePopup p {
    text-align: center;
    margin: 20px 0;
 }
 #cookiePopup button {
    background-color: rgb(96, 145, 223);
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    position: relative;
    margin: auto;
    border-radius: 5px;
    color: #fff;
    border: 0;
    display:inline-block;    
 }


.random{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:120px;
}

 